{% extends 'music/base.html' %}
{% block title %}Album Details{% endblock %}

{% block body %}
    <center><img src="{{ album.album_logo }}" width="200" height="200"></center>

    <h1>{{ album.album_title }}</h1>
    <h2>{{ album.artist }}</h2>

    {% for song in album.song_set.all %}
        {{ song.song_title }}
        {% if song.is_favorite %}
            <img src="http://i.imgur.com/b9b13Rd.png"/>
        {% endif %}
        <br>
    {% endfor %}

{% endblock %}